<nav class="sidebar">
    <ul>
        <li><a href="{{ site.baseurl | absolute_url }}" class="home-link">Accueil</a></li> <!-- Lien vers la page d'accueil -->
        {% assign sorted_pages = site.pages | sort: 'title' %}
        {% for page in sorted_pages %}
            {% if page.title and page.path contains 'projects/' %}
                <li><a href="{{ page.url | relative_url }}" class="sidebar-link">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
